In [0]:
!pip install sqlalchemy
!pip install psycopg2
!pip install psycopg2-binary
!pip install seaborn==0.9.0
## call all python libraries 
import pandas as pd
import requests
import math
import seaborn as sns 
sns.set()
import statistics 
import numpy as np
from matplotlib import pyplot as plt
from numpy.random import randint
from numpy import mean
from scipy import stats
from numpy.random import seed
import scipy, pylab

from sqlalchemy import create_engine
import matplotlib.pyplot as plt
%matplotlib inline
## call all python libraries

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.6/dist-packages (1.3.15)
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.6/dist-packages (2.7.6.1)
Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.6/dist-packages (2.8.4)
Requirement already satisfied: seaborn==0.9.0 in /usr/local/lib/python3.6/dist-packages (0.9.0)
Requirement already satisfied: numpy>=1.9.3 in /usr/local/lib/python3.6/dist-packages (from seaborn==0.9.0) (1.18.2)
Requirement already satisfied: scipy>=0.14.0 in /usr/local/lib/python3.6/dist-packages (from seaborn==0.9.0) (1.4.1)
Requirement already satisfied: matplotlib>=1.4.3 in /usr/local/lib/python3.6/dist-packages (from seaborn==0.9.0) (3.2.1)
Requirement already satisfied: pandas>=0.15.2 in /usr/local/lib/python3.6/dist-packages (from seaborn==0.9.0) (0.25.3)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4.3->seaborn==0.9.0) (2.4.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4.3->seaborn==0.9.0) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4.3->seaborn==0.9.0) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4.3->seaborn==0.9.0) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.15.2->seaborn==0.9.0) (2018.9)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib>=1.4.3->seaborn==0.9.0) (46.0.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from cycler>=0.10->matplotlib>=1.4.3->seaborn==0.9.0) (1.12.0)

# How many movies are released for each rating?

In [0]:


# Database credentials
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'dvdrentals'
# call the database 
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

# Use the connection to execute some SQL
dvds = engine.execute('select distinct rating , count(title) as total_movies FROM film group by rating')
print(dvds.keys())
# no need for an open connection, as we're only doing a single query
engine.dispose()

for i in dvds:
    print(i)

['rating', 'total_movies']
('G', 178)
('PG', 194)
('PG-13', 223)
('R', 195)
('NC-17', 210)

# What is the average rental duration for each rating?

In [0]:

average = engine.execute('select distinct rating as rating , round(avg(rental_duration),2) as avg_rent_time FROM film group by rating')
engine.dispose()
print(average.keys())
rows = average.fetchall()
for row in rows:
    print(row)
rating = [x['rating'] for x in rows]
avg = [x['avg_rent_time'] for x in rows]

['rating', 'avg_rent_time']
('G', Decimal('4.84'))
('PG', Decimal('5.08'))
('PG-13', Decimal('5.05'))
('R', Decimal('4.77'))
('NC-17', Decimal('5.14'))

#What is the mean movie length?

In [0]:
# A simple implementation simply iterating the array
def mean(numbers):
  total_sum = 0;  # initialize the sum to zero
  for n in numbers:
    total_sum += n # add up the numbers in the array
  count = len(numbers)   # find the length of the array
  avg = total_sum / count  # calculate the mean
  return avg  # return the result

# use fetchall() to get a list of rows from the results.
sql = '''
select length FROM film '''
mean_length = engine.execute(sql)
engine.dispose()

rows = mean_length.fetchall()
mean_length = [x['length'] for x in rows]
print('The median of the charges is {}'.format(mean(mean_length)))

The median of the charges is 115.272

#What is the median movie length?

In [0]:

def median(numbers):
  numbers.sort()  # sort the list of numbers
  count = len(numbers) # get the length of the array
  isEven = count % 2 == 0 # check if this list is of even length
  
  if (isEven):
    # find the two numbers in the middle of the array
    mid = math.floor( count / 2 )
    a = numbers[mid - 1]
    b = numbers[mid]
    # find the average of these two numbers
    ans = (a + b) / 2
  else:
    ans = numbers[math.floor( count / 2 )]
 
  return ans

sql = '''
select length FROM film '''
length = engine.execute(sql)
engine.dispose()

rows = length.fetchall()
length = [x['length'] for x in rows]
print('The median of the charges is {}'.format(median(length)))

The median of the charges is 114.0


# Calculate the standard deviation of the movie lengths

In [0]:

def standard_deviation(numbers):
  X_bar = mean(numbers)
  N = len(numbers)
  total_sum = 0
  for X in numbers:
    diff = X - X_bar
    squared = math.pow(diff, 2)
    total_sum += squared
  sigma = math.sqrt(total_sum / (N - 1))  
  return sigma
sql = '''
select length FROM film '''
length = engine.execute(sql)
engine.dispose()

rows = length.fetchall()
length = [x['length'] for x in rows]
print('The standard deviation of the charges is {}'.format(standard_deviation(length)))

The standard deviation of the charges is 40.42633181855987

# Now the Department of Education SQL Database

A query that allows you to inspect the schema of the naep table.

In [0]:
# Database credentials
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'department_of_education'
# call the database 
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

# Use the connection to execute some SQL
sql = '''
SELECT *
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME='naep'
'''
engine.dispose()

department_of_education = engine.execute(sql)
print(department_of_education)
# no need for an open connection, as we're only doing a single query

rows = department_of_education.fetchall()
for row in rows:
    print(row)

<sqlalchemy.engine.result.ResultProxy object at 0x7f8a413341d0>
('department_of_education', 'public', 'naep', 'avg_math_4_score', 1, None, 'YES', 'numeric', None, None, None, 10, None, None, None, None, None, None, None, None, None, None, None, None, None, 'department_of_education', 'pg_catalog', 'numeric', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')
('department_of_education', 'public', 'naep', 'avg_math_8_score', 2, None, 'YES', 'numeric', None, None, None, 10, None, None, None, None, None, None, None, None, None, None, None, None, None, 'department_of_education', 'pg_catalog', 'numeric', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')
('department_of_education', 'public', 'naep', 'avg_reading_4_score', 3, None, 'YES', 'numeric', None, None, None, 10, None, None, None, None, None, None, None, None, None, None, None, None, None, 'department_of_education', 'pg_catalog', 'numeric', None, None, None, None, '3', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')
('department_of_education', 'public', 'naep', 'avg_reading_8_score', 4, None, 'YES', 'numeric', None, None, None, 10, None, None, None, None, None, None, None, None, None, None, None, None, None, 'department_of_education', 'pg_catalog', 'numeric', None, None, None, None, '4', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')
('department_of_education', 'public', 'naep', 'id', 5, None, 'YES', 'character varying', None, 1073741824, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'department_of_education', 'pg_catalog', 'varchar', None, None, None, None, '5', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')
('department_of_education', 'public', 'naep', 'state', 6, None, 'YES', 'character varying', None, 1073741824, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'department_of_education', 'pg_catalog', 'varchar', None, None, None, None, '6', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')
('department_of_education', 'public', 'naep', 'year', 7, None, 'YES', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'department_of_education', 'pg_catalog', 'int4', None, None, None, None, '7', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')

A query that returns the first 50 records of the naep table.

In [0]:
# Use the connection to execute some SQL
sql = '''
SELECT *
FROM naep
LIMIT 50;
'''
engine.dispose()

department_of_education = engine.execute(sql)
print(department_of_education)
# no need for an open connection, as we're only doing a single query

rows = department_of_education.fetchall()
i = 0
for row in rows:
  # limit number of rows to 10 so it doesnt take up to much space
  if i < 10:
    print(row)
    i += 1

<sqlalchemy.engine.result.ResultProxy object at 0x7f8a41346898>
(Decimal('232.171'), Decimal('268.312'), Decimal('216.42'), Decimal('257.687'), '2017_ALABAMA', 'ALABAMA', 2017)
(Decimal('230.456'), Decimal('277.016'), Decimal('207.038'), Decimal('257.668'), '2017_ALASKA', 'ALASKA', 2017)
(Decimal('234.436'), Decimal('282.248'), Decimal('215.466'), Decimal('262.957'), '2017_ARIZONA', 'ARIZONA', 2017)
(Decimal('233.848'), Decimal('273.76'), Decimal('216.108'), Decimal('259.956'), '2017_ARKANSAS', 'ARKANSAS', 2017)
(Decimal('232.263'), Decimal('276.638'), Decimal('215.422'), Decimal('262.521'), '2017_CALIFORNIA', 'CALIFORNIA', 2017)
(Decimal('240.695'), Decimal('286.248'), Decimal('224.692'), Decimal('270.339'), '2017_COLORADO', 'COLORADO', 2017)
(Decimal('239.238'), Decimal('284.144'), Decimal('228.355'), Decimal('272.538'), '2017_CONNECTICUT', 'CONNECTICUT', 2017)
(Decimal('236.128'), Decimal('278.023'), Decimal('221.482'), Decimal('263.089'), '2017_DELAWARE', 'DELAWARE', 2017)
(Decimal('231.32'), Decimal('265.78'), Decimal('213.382'), Decimal('246.788'), '2017_DISTRICT_OF_COLUMBIA', 'DISTRICT_OF_COLUMBIA', 2017)
(Decimal('246.368'), Decimal('279.12'), Decimal('228.273'), Decimal('280.499'), '2017_FLORIDA', 'FLORIDA', 2017)

return summary statistics for avg_math_4_score by state, and sort the results alphabetically by state name.

In [0]:
# Use the connection to execute some SQL
sql = '''
SELECT state, COUNT(*), AVG(avg_math_4_score), MIN(avg_math_4_score), MAX(avg_math_4_score)
FROM naep
GROUP BY state
ORDER BY state;
'''
engine.dispose()

department_of_education = engine.execute(sql)
print(department_of_education)
# no need for an open connection, as we're only doing a single query

rows = department_of_education.fetchall()
i = 0
for row in rows:
  # limit number of rows to 10 so it doesnt take up to much space
  if i < 10:
    print(row)
    i += 1

<sqlalchemy.engine.result.ResultProxy object at 0x7f8a4133a828>
('ALABAMA', 11, Decimal('224.5554545454545455'), Decimal('208.328'), Decimal('232.861'))
('ALASKA', 11, Decimal('234.0097777777777778'), Decimal('223.833'), Decimal('237.274'))
('ARIZONA', 11, Decimal('229.0680000000000000'), Decimal('215.254'), Decimal('240.305'))
('ARKANSAS', 11, Decimal('229.9675454545454545'), Decimal('210.206'), Decimal('239.891'))
('CALIFORNIA', 11, Decimal('225.6595454545454545'), Decimal('208.399'), Decimal('234.165'))
('COLORADO', 11, Decimal('237.8267000000000000'), Decimal('221.023'), Decimal('246.976'))
('CONNECTICUT', 11, Decimal('238.9570909090909091'), Decimal('226.798'), Decimal('244.718'))
('DELAWARE', 11, Decimal('234.8061000000000000'), Decimal('215.025'), Decimal('243.108'))
('DISTRICT_OF_COLUMBIA', 11, Decimal('212.2754545454545455'), Decimal('187.135'), Decimal('231.32'))
('FLORIDA', 11, Decimal('235.6613000000000000'), Decimal('213.69'), Decimal('246.368'))

Return a field called bottom_10_states that lists the states in the bottom 10 for avg_math_4_score in the year 2000.

In [0]:
# Use the connection to execute some SQL
sql = '''
SELECT state AS bottom_10_states , avg_math_4_score
FROM naep 
WHERE year=2000 
ORDER BY avg_math_4_score 
LIMIT 10;
'''
engine.dispose()

department_of_education = engine.execute(sql)
print(department_of_education)
# no need for an open connection, as we're only doing a single query

rows = department_of_education.fetchall()
i = 0
for row in rows:
    print(row)

<sqlalchemy.engine.result.ResultProxy object at 0x7f8a4132fe48>
('DISTRICT_OF_COLUMBIA', Decimal('193.29'))
('MISSISSIPPI', Decimal('210.97'))
('CALIFORNIA', Decimal('213.565'))
('NEW_MEXICO', Decimal('213.868'))
('HAWAII', Decimal('215.847'))
('ARKANSAS', Decimal('217.063'))
('ALABAMA', Decimal('217.941'))
('LOUISIANA', Decimal('217.964'))
('ARIZONA', Decimal('218.767'))
('GEORGIA', Decimal('219.557'))

A query that returns for the year 2000 the state, avg_math_4_score, and total_expenditure from the naep table left outer joined with the finance table using id as the key and ordered by total_expenditure greatest to least.

In [0]:
# Use the connection to execute some SQL
sql = '''
SELECT naep.state , round(avg_math_4_score,2) as avg_math_4_score , total_expenditure
FROM naep Left Outer JOIN finance
ON naep.id = finance.id
Where finance.year = 2000 and  avg_math_4_score is not null
order by total_expenditure desc;

'''
engine.dispose()

department_of_education = engine.execute(sql)
print(department_of_education)
# no need for an open connection, as we're only doing a single query

rows = department_of_education.fetchall()
i = 0
for row in rows:
  # limit number of rows to 10 so it doesnt take up to much space
  if i < 10:
    print(row)
    i += 1

<sqlalchemy.engine.result.ResultProxy object at 0x7f8a4133a2e8>
('CALIFORNIA', Decimal('213.57'), 45829753)
('NEW_YORK', Decimal('226.56'), 33683043)
('TEXAS', Decimal('232.67'), 31067935)
('ILLINOIS', Decimal('224.93'), 18073190)
('MICHIGAN', Decimal('230.89'), 16580526)
('OHIO', Decimal('230.57'), 14909952)
('GEORGIA', Decimal('219.56'), 10884510)
('MASSACHUSETTS', Decimal('234.96'), 9466363)
('NORTH_CAROLINA', Decimal('232.46'), 9275837)
('VIRGINIA', Decimal('230.40'), 9154676)